# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY.
# This file records the answers and template version used to scaffold this
# project. `copier update` reads it to pull in later template improvements.
{{ _copier_answers|to_nice_yaml -}}
